body {
  margin: 0;
  background-color: #1b244a;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container h3 {
  color: white;
  text-align: center;
}

.home-box,
.guest-box {
  background-color: black;
  width: 120px;
  height: 155px;
  border-radius: 5px;
  margin: 0;
}

.home-box p,
.guest-box p {
  color: red;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  font-style: CusedTimerUlil;
}
