body {
  margin: 0;
  background-color: #1b244a;
  max-width: 575;
  max-height: 385;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container h3 {
  color: white;
  text-align: center;
}

.home-box,
.guest-box {
  background-color: black;
  width: 120px;
  height: 155px;
  border-radius: 5px;
  margin: 0;
}

.home-box p,
.guest-box p {
  color: #f94f6d;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  font-family: "Cursed Timer ULiL", sans-serif;
  margin-top: 0px;
}
.score-buttons {
  padding-top: 10px;
  text-align: center;
}
.score-buttons button {
  text-align: center;
  position: relative;
  padding: 5px;
  border: 2px solid #9aabd8;
  color: #9aabd8;
  background-color: #1b244a;
  font-family: "Cursed Timer ULiL", sans-serif;
}
#buttonscore:hover {
  background-color: #f94f6d;
}
.stats-box {
  background-color: #9aabd8;
  width: 120px;
  height: 155px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  font-family: "Cursed Timer ULiL", sans-serif;
}
.stats-box p {
  padding-top: 30px;
}
#difer-score p {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Cursed Timer ULiL", sans-serif;
  margin-top: 0px;
}

.stats-buttons {
  text-align: center;
  padding-top: 10px;
}
.stats-buttons #newGame {
  text-align: center;
  position: relative;
  padding: 5px;
  border: 2px solid #9aabd8;
  color: #9aabd8;
  background-color: #1b244a;
  font-family: "Cursed Timer ULiL", sans-serif;
}
#newGame:hover {
  background-color: white;
  color: black;
}
#newGame::first-letter {
  font-variant-caps: petite-caps;
  color: #f94f6d;
}
#newGame::shadow {
  color: aqua;
}
